body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
}

/* Section Titles */
h2 {
    text-align: center;
    margin-top: 30px;
}

/* About Section */
.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

/* Projects */
.projects {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.project-box {
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
}

/* Contact */
.contact {
    text-align: center;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
